$base-theme:Default;
$skin-name:custom;
$accent: #cbe2ee;
$info: #3e80ed;
$success: #5ec232;
$warning: #fdce3e;
$error: #41bbd0;
$text-color: #12eaf5;
$bg-color: #363b40;
$base-text: #43bed4;
$base-bg: #5e6169;
$hovered-text: #d6e319;
$hovered-bg: #ededed;
$selected-text: #ffffff;
$selected-bg: #51ee75;
$series-a: #89ae97;
$series-b: #ffd246;
$series-c: #78d237;
$series-d: #28b4c8;
$series-e: #2d73f5;
$series-f: #aa46be;
