<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name></name>
    <author>coel flett</author>
    <name>Template</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    
    <plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
    <plugin name="cordova-plugin-camera" spec="~4.0.2" />
    <platfom></platfom> 
    <icon src="www/rez/icon/crystal-ball.png"/>
    
    
    
    <content src="index.html" />
    <access origin="*" />
</widget>
